{% extends '../user_template/user_view.html' %}
{% load static %}
{% block title %}Registro Compra{% endblock title %}
{% block content %}
        
<div class="contact-form">
    <div class="container">
        <h3 class="form-title text-left">Compra Usuario</h3>
        <!-- Contact Form -->
        <form action="{% url 'sale_register' %}" method="POST">
            {% csrf_token %}
                <!--<input type="number" name="id_product" value="id" style="display:none">-->
                <div class="col-6 ">
                    <div class="group">
                        <input aria-label="id_user" type="number" name="id_user" value={{user_id}}
                            readonly>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>ID User</label>
                    </div>
                </div>
                <div class="col-6 ">
                    <div class="group">
                        <input aria-label="id_product" type="number" name="id_product" value={{pk}}
                            readonly>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>ID Product</label>
                    </div>
                </div>
                <div class="col-6 ">
                    <div class="group">
                        
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <select name="id_paymentMethod" id="id_paymentMethod" required>
                            <option value="" >Choose Payment Method</option>
                            {% for paymentmethod in data_paymentmethod %}
                                <option value="{{paymentmethod.0}}" >{{paymentmethod.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="group">
                        <input aria-label="quantity" type="number" name="quantity"
                            required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Quantity</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="group">
                        <input aria-label="iva" type="number" name="iva" min="0,5" max="100"
                            required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>IVA</label>
                    </div>
                </div>
                <div class="col-6 ">
                    <div class="group">
                        <textarea aria-label="Description" name="description" rows="10" cols="50" required></textarea>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Description</label>
                    </div>
                </div>


                <div class="col-12">
                    <button type="submit" class="btn world-btn">Registrar</button>
                </div>
        </form>
    </div>
</div>
{% endblock %}
            
