{% extends '../user_template/admin_view.html' %}
{% load static %}
{% block title %}Lista Producto{% endblock title %}

{% block content %}

<div class="justify-content-center text-center">
  
  <div class="content-container">
    <h3 class="form-title text-center">Ventas de Merida</h3>
    <div class="container">

      <div class="row">
        {% for sale in sales %}
          <div class="col-4">
            <div class="card margin-card" style="width: 20rem; max-height:300px; overflow:auto;">
              <div class="card-body">
                <h5 class="card-title">{{sale.product_name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Cliente: {{sale.name_usuer}} {{sale.last_name_user}}</h6>
                    <p class="card-text" style="height: 50px;">Cantidad Vendida: {{sale.quantity}}</p>
                    <p class="card-text" style="height: 50px;">Total Venta: {{sale.total}}$</p>
                    <p class="card-text" style="height: 50px;">{{sale.description}}</p>
              </div>
            </div>
          </div>
        {% endfor %}


      </div>
      

    </div>
        
    
    
  </div>
</div>


{% endblock %}
