{% extends '../user_template/admin_view.html' %}
{% load static %}
{% block title %}Lista Producto{% endblock title %}

{% block content %}

<div class="justify-content-center text-center">
  
  <div class="content-container">
    <h3 class="form-title text-center">Compras de Stock Merida</h3>
    <div class="container">

      <div class="row">
        {% for purchase in purchases %}
          <div class="col-4">
            <div class="card margin-card" style="width: 20rem; max-height:300px; overflow:auto;">
              <div class="card-body">
                <h5 class="card-title">{{purchase.product_name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Cantidad Comprada: {{purchase.quantity}}</h6>
                    <p class="card-text" style="height: 50px;">{{product.description}}</p>
              </div>
            </div>
          </div>
        {% endfor %}


      </div>
      

    </div>
        
    
    
  </div>
</div>


{% endblock %}
