{% extends 'index.html' %}
{% load static %}
{% block title %}Inicio Admin{% endblock title %}
{% block navbar %} 
<li class="nav-item">
    <a class="nav-link" href="{% url 'init_admin' %}">Inicio<span class="sr-only">(current)</span></a>
</li>
<li class=" nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Registros<span class="caret"></span></a>
    <ul class="dropdown-menu">
      
        <li><a class="nav-link" href="{% url 'product_register' %}">Registrar Producto</a></li>
        <li role="separator" class="divider"></li>
        <li><a class="nav-link" href="{% url 'view_paymentmethod_register' %}">Registrar Metodo Pago</a></li>

        
    </ul>
</li>
<li class=" nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Listas<span class="caret"></span></a>
    <ul class="dropdown-menu">
      
        <li><a class="nav-link" href="{% url 'list_product_admin' %}">Lista Productos</a></li>
        <li role="separator" class="divider"></li>
        <li><a class="nav-link" href="{% url 'purchase_list' %}">Lista de Compras</a></li>
        <li role="separator" class="divider"></li>
        <li><a class="nav-link" href="{% url 'sale_list_admin' %}">Lista de Ventas</a></li>
        
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">Logout<span class="sr-only">(current)</span></a>
</li>
{% endblock %}
{% block content %}
        
<div class="justify-content-center text-center">
    <div class=" bg-img content-container">
        <h3 class="form-title text-center">Bienvenido Administrador</h3>






    </div>
    
</div>
{% endblock %}
            