{% extends 'index.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block navbar %} 
<li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Inicio<span class="sr-only">(current)</span></a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'register' %}">Registrar</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'login' %}">Login</a>
</li>
{% endblock %}
{% block content %}
        
<div class="justify-content-center text-center">
    <div class="contact-form">
        <h3 class="form-title text-left">Login Usuario</h3>
        <!-- Contact Form -->
        <form action="{% url 'init_view' %}" method="POST">
            {% csrf_token %}
            <div class="container">
                <input type="text" name="type_view" value="login" style="display:none">

                <div class="col-6 ">
                    <div class="group">
                        <input aria-label="Email" type="email" name="email"
                            required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Email</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="group">
                        <input aria-label="Password" type="password" name="password"
                            required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Password</label>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn world-btn">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
            