{% extends 'index.html' %}
{% load static %}
{% block title %}Inicio Usuario{% endblock title %}
{% block navbar %} 
<li class="nav-item">
    <a class="nav-link" href="{% url 'init_user' %}">Inicio<span class="sr-only">(current)</span></a>
</li>
<li class=" nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Listas <span class="caret"></span></a>
    <ul class="dropdown-menu">
      
        <li><a class="nav-link" href="{% url 'list_product_user' %}">Lista de Productos</a></li>
        <li role="separator" class="divider"></li>
        <li><a class="nav-link" href="{% url 'sale_list_user' %}">Lista de Compras</a></li>
        
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">Logout<span class="sr-only">(current)</span></a>
</li>
{% endblock %}
{% block content %}
        
<div class="justify-content-center text-center">
    <div class="bg-img content-container">
        <h3 class="form-title text-center">Bienvenido Usuario</h3>
    </div>
</div>
{% endblock %}
            