{% extends '../user_template/admin_view.html' %}
{% load static %}
{% block title %}Registro Compra{% endblock title %}
{% block content %}
        
<div class="contact-form">
    <div class="container">
        <h3 class="form-title text-left">Registro Metodo Pago</h3>
        <!-- Contact Form -->
        <form action="{% url 'paymentmethod_register' %}" method="POST">
            {% csrf_token %}
                <!--<input type="number" name="id_product" value="id" style="display:none">-->

                <div class="col-6 ">
                    <div class="group">
                        <input aria-label="method_type" type="text" name="method_type" 
                            required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Method Name</label>
                    </div>
                </div>
                <div class="col-6 ">
                    <div class="group">
                        <textarea aria-label="Description" name="description" rows="10" cols="50" required></textarea>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Description</label>
                    </div>
                </div>


                <div class="col-12">
                    <button type="submit" class="btn world-btn">Registrar</button>
                </div>
        </form>
    </div>
</div>
{% endblock %}
            
