{% extends 'template.html' %}
{% load static %}

{% block navbar %} 
<li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Inicio<span class="sr-only">(current)</span></a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'register' %}">Registrar</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'login' %}">Login</a>
</li>
{% endblock %}
{% block content %}
        
<div  class="hero-area">
    <!-- Hero Slides Area -->
    <div class="hero-slides owl-carousel">
        <!-- Single Slide -->
        <div class="single-hero-slide bg-img background-overlay"  style="background-image: url( {% static 'img/blog-img/bluefont8.jpg' %}); "></div>
        <!-- Single Slide -->
        <div class="single-hero-slide bg-img background-overlay"  style="background-image: url( {% static 'img/blog-img/bluefont8.jpg' %}); "></div>
    </div>

    <!-- Hero Post Slide -->
            
</div>

            
        

{% endblock %}