{% load static %}
<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!-- Title  -->
        <title>{% block title %}Merida Store{% endblock title %}</title>

        <!-- Favicon  -->
        <!--<link rel="icon" href="{% static 'img/core-img/logoico.ico' %}">-->

        <!-- Style Fonts -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">           
      
        <!-- Style CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main-table.css' %}">
        
        <!--Style alerts-->
        


    </head>

    <body>
        <!-- Preloader Start -->
        <div id="preloader">
            <div class="preload-content">
                <div id="world-load"></div>
            </div>
        </div>
        <!-- Preloader End -->

        <!-- ***** Header Area Start ***** -->
        <header class="header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="navbar navbar-expand-lg">
                            <!-- Logo -->
                            <a class="nav-brand" href="#"><h4 class="nav-tile">MERIDA STORE</h1></a>
                            <!-- Navbar Toggler -->
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#worldNav" aria-controls="worldNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <!-- Navbar -->
                            <div class="collapse navbar-collapse" id="worldNav">
                                <ul class="navbar-nav ml-auto">
                                    {% block navbar %} {% endblock %}
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->
        <div class="page-body">
            <section>
                {% block content %} {% endblock %}
            </section>
                
        </div>
       
        
        
        <!-- ********** Hero Area Start ********** -->
        
        <!-- ***** Footer Area Start ***** -->
        <footer class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="footer-single-widget">
                            <a href="#"><h4 class="nav-tile">MERIDA STORE</h1></a>
                            <div class="copywrite-text mt-30">
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </footer>
        <!-- ***** Footer Area End ***** -->

        <!-- jQuery (Necessary for All JavaScript Plugins) -->
        <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
        <!-- Popper js -->
        <script src="{% static 'js/popper.min.js' %} "></script>
        <!-- Bootstrap js -->
        <script src="{% static 'js/bootstrap.min.js' %} "></script>
        <!-- Plugins js -->
        <script src="{% static 'js/plugins.js' %} "></script>
        <!-- Active js -->
        <script src="{% static 'js/active.js' %} "></script>

        <!-- Main JS-->
        <script src="{% static 'js/main-table.js' %} "></script>

       
    </body>

</html>