{% extends '../user_template/admin_view.html' %}
{% load static %}
{% block title %}Lista Producto{% endblock title %}

{% block content %}

<div class="justify-content-center text-center">
  
  <div class="content-container">
    <h3 class="form-title text-center">Productos Merida</h3>
    <div class="container">

      <div class="row">
        {% for product in products %}
          <div class="col-4">
            <div class="card margin-card" style="width: 20rem; max-height:300px; overflow:auto;">
              <div class="card-body">
                <h5 class="card-title">{{product.1}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Precio: {{product.2}}$</h6>
                    <p class="card-text" style="height: 50px;">{{product.4}}</p>
                    <h6 class="card-subtitle mb-2 text-muted">Unidades Disponibles: {{product.3}} </h6>
                      <a href="{% url 'view_purchase_register' product.0%}" class="btn world-btn">Incremento Stock</a>
              </div>
            </div>
          </div>
        {% endfor %}


      </div>
      

    </div>
        
    
    
  </div>
</div>


{% endblock %}
