{% extends '../user_template/admin_view.html' %}
{% load static %}
{% block title %}Registro Producto{% endblock title %}

{% block content %}

<div class="contact-form">
    <!-- Contact Form -->
    <div class="container justify-content-center">
        <h3 class="form-title text-left">Registro Producto</h3>
        <form action="{% url 'register_product' %}" method="POST">
            {% csrf_token %}
            
                <input type="text" name="type_view" value="login" style="display:none">

                <div class="col-6 ">
                    <div class="group">
                        <input aria-label="Name" type="text" name="name"
                            required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Name</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="group">
                        <input aria-label="price" type="number" name="price"
                            required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Price</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="group">
                        <input aria-label="stock_product" type="number" name="stock_product"
                            required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Stock Product</label>
                    </div>
                </div>
                <div class="col-6 ">
                    <div class="group">
                        <textarea aria-label="Description" name="description" rows="10" cols="50" required></textarea>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Description</label>
                    </div>
                </div>


                <div class="col-12">
                    <button type="submit" class="btn world-btn">Registrar</button>
                </div>
            
        </form>
    </div>
</div>
{% endblock %}
            
